@{
    ViewBag.Title = "Kurumlar";
}
<div class="card text-white bg-secondary mb-3 w-100 mt-2">
    <div class="card-header"><h1>Kurumlar | Nazım ÖZTÜRK</h1></div>
    <div class="card-body">
        <h5 class="card-title">Nazım ÖZTÜRK</h5>
        <p class="card-text">Kurum arama sayfasıdır.</p>
    </div>
</div>


<script>
    $(document).ready(await function() {
        //$('#AlmsData').hide();
        //$('#PerculusData').hide();
        //$('#CustomersData').hide();

        const products = [
            { ID: 1, Name: 'Alms' },
            { ID: 2, Name: 'Perculus' }
        ];

        const orgData = [
            { ID: 1, Name: 'Sakarya' },
            { ID: 2, Name: 'Karasu' }
        ];

        const Urunler = $('#Products').dxSelectBox({
            dataSource: products,
            showClearButton: true,
            displayExpr: 'Name',
            valueExpr: 'ID',
            placeholder: 'Ürün Arama',
            searchEnabled: true,
        }).dxSelectBox('instance');

        const Kurumlar = $('#Organization').dxSelectBox({
        dataSource: orgData,
        showClearButton: true,
        displayExpr: 'Name',
        valueExpr: 'ID',
        placeholder: 'Kurum Arama',
        searchEnabled: true,
        }).dxSelectBox('instance');

        $('#success-contained').dxButton({
            stylingMode: 'contained',
            text: 'Sync YAP',
            type: 'success',
            width: '98%',
            onClick() {
                DevExpress.ui.notify('Sync İşlemi Başarılı Bir Şekilde Sonuçlandı');
            }
        });


        // Datatable;
        const dataAlms = AlmsDatasi();

        console.log(dataAlms);

        const dataGrid = $('#AlmsData').dxDataGrid({
        dataSource: dataAlms,
        keyExpr: 'Alms_OrganizationID',
        columnsAutoWidth: true,
        showBorders: true,
        filterRow: {
            visible: true,
            applyFilter: 'auto',
        },
        searchPanel: {
            visible: true,
            width: 240,
            placeholder: 'Ara...',
        },
        export: {
            enabled: true,
        },
        columnChooser: {
            enabled: true,
        },
        headerFilter: {
            visible: true,
        },
        columns: [
            {
                dataField: 'Alms_OrganizationID',
                caption: 'Organizasyon ID',
                width: 140,
                headerFilter: {
                    groupInterval: 10000,
                }
            },
            {
                dataField: 'Alms_OrganizationName',
                caption: 'Kurum Adı',
                width: 140,
                headerFilter: {
                    groupInterval: 10000,
                }
            },
            {
                dataField: 'ALMS_Database',
                caption: '',
                width: 140,
                headerFilter: {
                    groupInterval: 10000,
                }
            }
        ],
    }).dxDataGrid('instance');

     async function AlmsDatasi() {
        var AtamaPromise = new Promise((Resolve) => {
            $.ajax({
                type: "POST",
                url: "/WebService.asmx/Alms",
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) { Resolve(JSON.parse(msg.d.data)); }
            });
        });

     return AtamaPromise;
    }
 });
</script>

<div class="container mt-4">
    <div class="row">
        <div class="col-5">
            <div id="Products"></div>
        </div>
        <div class="col-5">
            <div id="Organization"></div>
        </div>
        <div class="col-2">
            <button class="btn btn-success w-100" type="button" id="success-contained">SYNC YAP</button>
        </div>
    </div>
    <div class="row mt-4">
        @*<div id="AlmsData" class="col-12 my-1 bg-danger"></div>*@
        <div class="demo-container col-12 my-1 border border-secondary p-2"><div id="AlmsData"></div></div>
        <div id="PerculusData" class="col-12 my-1 bg-danger">PerculusData</div>
        <div id="CustomersData" class="col-12 my-1 bg-danger">CustomersData</div>
    </div>
</div>
